{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Payment form
{% endblock %}

{% block content %}
    <p>Welcome to the payment form of the Example Lab.</p>
    
    <p>Using this payment form ensures that your behavioral data cannot be linked to your payment data.</p>
    
    <p>Your payment is <b>${{ nicePayment }}</b>. To perform the payment, please enter your payment details.</p>

    {% formfield player.email label="Your payment details" %}

    <script type="text/javascript">
	    document.getElementsByName("email")[0].value = "";
    </script>
    
    <p>By submitting this form, you agree to the <a href="https://example.com" target="_new">privacy policy of the Example Lab</a>. In addition, you agree that your payment data may be processed for the purposes of the payment. Your behavioral data will not be linked to your payment data.</p>

    {% next_button %}

{% endblock %}
